img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.navbar img {
    width: 20%;
    height: auto;
}

footer img {
    width: 30%;
    height: auto;
}

.footer__bottom > a > img {
    width: 100%;
    height: auto;
}