.article__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article__image {
    display: flex;
    flex-direction: column;
    font-family: Mulish;
}

.article__extra {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article__extra h3 {
    font-size: var(--heading);
        color: #000;
        font-family: Fjalla One;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
}

