.home__button1 {
    border-radius: 15px;
    border: 1px solid #FFF;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 40.1%, #2A2A2A 100%);
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 20px;
    gap: 20px;

    text-decoration: none;
    color: #fff;
    font-family: Fjalla One;
    font-size: 24px;
}

.home__button1 img {
    width: auto;
    height: auto;
}

.home__button2 {
    border-radius: 5px;
    border: 1px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    box-shadow: 5px 5px 1px 0px rgba(255, 255, 255, 0.25);
    padding: 20px;

    text-decoration: none;
    color: #fff;
    font-family: Fjalla One;
    font-size: 24px;
    text-align: center;
}