.biblio {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.biblio__item {
    font-family: Fjalla One;
    font-size: var(--heading);
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.biblio__item figcaption {
    color: #fff;
}

.biblio__eval {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.biblio__eval > img {
    width: 65%;
    height: auto;
}

.biblio__eval > span {
    position: relative;
    bottom: 110px;
    font-size: 32px;
}